<launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg bagfile)"/>
  <node name="color_saver" pkg="image_view" type="image_saver" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera/color/image_raw"/>
    <param name="filename_format" value="$(arg savefolder)/image%04d.%s"/>
    <param name="save_all_images" value="true"/>
  </node>
  <node name="detect_saver" pkg="image_view" type="image_saver" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/detection_yolo/image"/>
    <param name="filename_format" value="$(arg savefolder)/detect%04d.%s"/>
    <param name="encoding" value="16UC1"/>
    <param name="save_all_images" value="true"/>
  </node>
</launch>